<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <title>Welcome to my page!</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|VT323" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     <header class="Quicksand">
         <div class="navbar-fixed" id="top">
             <nav class="black white-text" id="navbar">
                 <div class="nav-wrapper container">
                     <a href="#top"><img src="images/logo4.png" width="100" class="no-padding" alt="logo"/></a>
                     <a href="#" data-target="slide-out" class="sidenav-trigger white-text"><img src="images/menu.png" alt="menu" width="40" style="margin-top: 15px;"></a>
                     <ul class="right hide-on-med-and-down">
                       <li><a href="#AboutMe">About Me</a></li>
                       <li><a href="https://drive.google.com/file/d/1bigI8eEWzfmBgbjapvUHQ0R35SXiteBl/view?usp=sharing" target="_blank">Resume</a></li>
                       <li><a href="#portfolio">Portfolio</a></li>
                       <li><a href="#Contact">Contact</a></li>
                    </ul>
                 </div>
             </nav>
         </div>

         <ul id="slide-out" class="sidenav grey darken-3">
             <li><div class="user-view">
                 <div class="background">
                     <img src="images/apple.jpg" width="100%" alt="apple"/>
                 </div>
                 <a href="#user"><img class="circle" src="images/portrait.jpg"/></a>
                 <a href="#name"><span class="white-text name">Allen Justin Blanco</span></a>
                 <a href="#email"><span class="white-text email">blanco.allenjustin@gmail.com</span></a>
             </div></li>
             <li><a href="#AboutMe">About Me</a></li>
             <li><a href="https://drive.google.com/file/d/1bigI8eEWzfmBgbjapvUHQ0R35SXiteBl/view?usp=sharing" target="_blank">Resume</a></li>
             <li><a href="#portfolio">Portfolio</a></li>
             <li><a href="#Contact">Contact</a></li>
          </ul>
     </header>
<div class="parallax-container center valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 white-text">
                <h1 class="header center Quicksand" data-aos="zoom-in"  data-aos-easing="linear"
                    data-aos-duration="1500">HI! I'M <br/><span class="toggle">JUSTIN BLANCO</span></h1>
                <h6 class="header col s12 white-text Quicksand" data-aos="zoom-in"  data-aos-easing="linear"
                    data-aos-duration="1500">Full Stack Web Developer</h6>
                <a href="#Contact" class="btn-large waves-effect waves-dark black lighten-1 white-text Nunito-sans">HIRE ME</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/keyboard.jpg" alt="keyboard" style="width: 100%"/></div>
</div>
<!--About Me-->
<div class="grey darken-3" id="AboutMe">
    <div class="section container">
        <h3 class="center-align Quicksand white-text">About <span class="toggle">Me</span></h3>
        <div class="row">
            <div class="col s12 m6 center" data-aos="fade-up">
                <img width="50%" src="images/portrait.jpg" alt="portrait"/>
            </div>
            <div class="col s12 m6" data-aos="fade-up-left">
                <h6 class="toggle Quicksand white-text">My <span class="toggle">Story</span></h6>
                <p class="light Nunito-sans white-text">I am thrilled by the ever-changing landscape of the tech industry and all of the new challenges it presents for developers. I have a fresh perspective as an artist across multiple mediums allowing me to take projects and approach them with a unique flair.
                    <br/>Thanks for stopping by and feel free to check out some of my <a href="#portfolio"><span class="toggle">latest projects.</span></a></p>
                <a class="btn-small waves-effect waves-dark white lighten-1 black-text toggle" th:href="@{https://drive.google.com/file/d/1bigI8eEWzfmBgbjapvUHQ0R35SXiteBl/view?usp=sharing}" target="_blank">View Resume</a>
                <br/>
            </div>
        </div>
    </div>
</div>
<!--My Skills-->
<div class="parallax-container center valign-wrapper" id="Skills">
    <div class="container">
        <div class="row">
            <div class="col s12 white-text" data-aos="zoom-in">
                <h3 class="header center Quicksand"><span class="toggle">My </span>Skills</h3>
                <div class="icon-block">
                    <div class="carousel">
                        <a class="carousel-item"><img width="100%" src="images/html5.png"  alt="HTML5"/></a>
                        <a class="carousel-item"><img width="100%" src="images/css-3.png"  alt="CSS3"/></a>
                        <a class="carousel-item"><img width="100%" src="images/java.png"  alt="Java"/></a>
                        <a class="carousel-item"><img width="100%" src="images/spring-boot.png"  alt="MySQL"/></a>
                        <a class="carousel-item"><img width="100%" src="images/MySQL..png"  alt="Spring Boot"/></a>
                        <a class="carousel-item"><img width="100%" src="images/java-script.png" alt="Javascript"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/apple.jpg" alt="apple" width="100%" height="1000"/></div>
</div>

<!--fixed action button-->
<div class="fixed-action-btn" >
    <a class="btn-floating btn-large white pulse right"></a>
    <ul>
        <li><a class="btn-floating purpletextback" id="purple"></a></li>
        <li><a class="btn-floating lightblueback" id="blue"></a></li>
        <li><a class="btn-floating lightpurpleback" id="lightpurple"></a></li>
    </ul>
</div>

<!--My Portfolio-->
<section class="section grey white-text darken-3" id="portfolio">
    <div class="container">
        <div class="row">
            <h3 class="center-align toggle Quicksand" data-aos="zoom-in">Portfolio</h3>
            <p class="lighten-2 center-align Nunito" data-aos="zoom-in">Check out my latest projects.</p>
            <div class="col s12 m6 portfolio-item" data-aos="zoom-in">
                <div class="item-wrap">
                    <a href="#" data-reveal-id="modal-01"></a>
                    <div class="card hoverable ">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/cardimg.jpg" alt="" width="100%"/>
                        </div>
                        <div class="card-content black white-text">
                            <span class="card-title activator Quicksand">Tek Blog</span>
                            <p><a href="/" class="toggle Nunito-sans">View page</a></p>
                        </div>
                        <div class="card-reveal black">
                            <span class="card-title Quicksand">Tek Blog</span>
                            <p class="Nunito-sans">Fully functional Blog website for anyone into Tech. It allows users to create accounts and blog posts. (Spring Boot, Java, JavaScript, JQuery, MySQL, HTML, CSS, Materialize)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 portfolio-item" data-aos="zoom-in">
                <div class="item-wrap">
                    <a href="#" data-reveal-id="modal-01"></a>
                    <div class="card hoverable ">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/cardimg.jpg" alt="" width="100%"/>
                        </div>
                        <div class="card-content black white-text">
                            <span class="card-title activator Quicksand">Local Legends</span>
                            <p><a href="#" class="toggle Nunito-sans">View page</a></p>
                        </div>
                        <div class="card-reveal black">
                            <span class="card-title Quicksand">Local Legends</span>
                            <p class="Nunito-sans">For Musicians and Bands to connect and collaborate. Users can create Ad posts and search the website for other Ads. (HTML, CSS, JavaScript, JSP, JSTL, Java) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4 portfolio-item" data-aos="zoom-in">
                <div class="item-wrap">
                    <a href="#" data-reveal-id="modal-01"></a>
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/cardimg.jpg" alt="" width="100%"/>
                        </div>
                        <div class="card-content black white-text">
                            <span class="card-title activator Quicksand" data-position="top" data-tooltip="click for more info">Coffee Project</span>
                            <p><a href="https://something-out-of-this-world-coffee-project.glitch.me/" target="_blank" class="toggle Nunito-sans">View page</a></p>
                        </div>
                        <div class="card-reveal black">
                            <span class="card-title">Coffee Project</span>
                            <p>Coffee app with live search for multiple types of coffees. Users can also create new coffee's and add them to the list. (HTML, CSS, JavaScript, JQuery)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 portfolio-item" data-aos="zoom-in">
                <div class="item-wrap">
                    <a href="#" data-reveal-id="modal-01"></a>
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/cardimg.jpg" alt="" width="100%"/>
                        </div>
                        <div class="card-content black white-text">
                            <span class="card-title activator">Movie Box</span>
                            <p><a href="#" class="toggle">View page</a></p>
                        </div>
                        <div class="card-reveal black">
                            <span class="card-title">Movie Box</span>
                            <p>Users can search for any movies they like and view the movie page. (HTML, CSS, JavaScript, JQuery, React, Movies DB) </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 portfolio-item" data-aos="zoom-in">
                <div class="item-wrap">
                    <a href="#" data-reveal-id="modal-01"></a>
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/cardimg.jpg" alt="" width="100%"/>
                        </div>
                        <div class="card-content black white-text">
                            <span class="card-title activator">Weather Application</span>
                            <p><a href="#" class="toggle">View page</a></p>
                        </div>
                        <div class="card-reveal black">
                            <span class="card-title">Weather Application</span>
                            <p>Shows a five day forecast of the city of your choosing (HTML, CSS, JavaScript, JQuery, Open Weather Maps API, Google Maps API)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--contact section-->
   <section class="section grey white-text darken-4" id="Contact">
       <h3 class="center-align Quicksand white-text">Contact <span class="toggle">Me</span></h3>
       <div class="container">
           <div class="row">
               <div class="col s12 black-text Rubik">

                       <label for="firstname">First Name</label>
                       <input type="text" id="firstname" name="firstname" placeholder="Your name.."/>

                       <label for="lastname">Last Name</label>
                       <input type="text" id="lastname" name="lastname" placeholder="Your last name.."/>

                       <label for="email">Email</label>
                       <input type="text" id="email" name="email" placeholder="Your email..."/>

                       <label for="subject">Subject</label>
                       <textarea id="subject" name="subject" placeholder="Write something.." class="materialize-textarea"></textarea>

                       <button class="btn waves-effect waves-light black white-text" type="submit" name="action" id="submit">Submit</button>
                   <div class="col s12 center-align">
                       <div class="icon-block">
                           <h6 class="Quicksand white-text toggle"><span class="toggle">Personal</span> Information</h6>
                           <div class="light Nunito white-text">
                               <p>Name: Allen Justin Blanco</p>
                               <p>Phone: (210) 518-8350</p>
                               <p><a th:href="@{mailto:blanco.allenjustin@gmail.com}">Email: blanco.allenjustin@gmail.com</a></p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <div class="page-footer grey darken-2 black-text no-padding">
       <div class="footer-copyright">
           <div class="container black-text">
               <div class="center">
               <a href="https://github.com/allenjustinblanco" target="_blank">
                   <img src="images/github-logo.png" alt="github" width="30"/> </a>
               <a href="https://www.linkedin.com/in/justin-blanco/" target="_blank">
                   <img src="images/linkedin.png" alt="linkedin" width="30"/>
               </a>
               <a href="mailto:blanco.allenjustin@gmail.com">
                   <img src="images/gmail.png" alt="gmail" width="30"/>
               </a>
               </div>
           </div>
       </div>
   </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
